@font-face {
    font-family: 'ConsolasBold';
    src: url('ConsolasBold.otf') format('opentype');
    font-weight: bold;
    font-display: swap;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'ConsolasBold', 'consolas';
    font: 14px 'ConsolasBold';
    color: #fff;
    /* background-color: #181818; */
    background: url('/assets/background.jpg') center/cover no-repeat;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    box-sizing: border-box;
}

main > a {
    align-self: center;
}

h2 { 
    margin: 15px 0 10px;
}
h3 {
    margin: 5px 0;
}
label {
    margin-bottom: 8px;
}

.down {
    margin-top: auto;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.block {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.h1-404 {
    font-size: 6em;
    font-weight: 400;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 1.5em;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

#mybutton {
    height: 50px;
    width: 500px;
    resize: none;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

@media (max-width: 800px) {
    h1 { font-size: 1.5rem; }
    h2, h3, label { font-size: 1.1rem; margin: 12px 0; }
    #mybutton { width: 200px; }
    main { padding: 2%;}
}