@font-face{
    font-family: 'FiraCode';
    src: url('FiraCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

body {
    margin: 0;
    min-height: 100svh;
    font: 14px 'FiraCode',monospace;
    color: #fff;
    text-align: center;
    background-color: #16001d;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1000px;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: #c800ff;
    text-decoration: none;
}

.title {
    font-size: 3em;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.info {
    display: flex;
    justify-content: center;
}

.info > div {
    margin: 0 20px;
}

.h1-404 {
    font-size: 6em;
    font-weight: 400;
    margin: 0 auto;
}

@media(max-width:650px){
    body { gap:15px; padding:0 10px; }
    main { padding:15px; }
    h1 { font-size:1.5rem; }
    h2,h3 { font-size:1.1rem; margin:12px 0; }
    .info { display:block; }
    .info > div { margin: 0; }
}